
body {
  margin: 0;
  padding: 0;
  text-align: left;
  font: 12px Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #061C37;
  background: #EEEFE4;
  background-image:url(../images/background.png);
  background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
  text-align:left;}

#container
{
  display: block;
  height:auto;
  position: relative;
  width: 940px;
}

#mainpic h1
{
  position:absolute;
  text-align:right;
  color:#F8FDEE;
  font-size:30px;
  color:#FFF;
  left:60px;
  top:20px;
}


#mainpic h2
{
  position:absolute;
  text-align:right;
  color:#E1E7F7;
  left:60px;
  top:50px;
}

#mainpic
{
  background-image:url(../images/main.jpg);
  background-repeat:no-repeat;
  width:900px;
  height:354px;
}



.off
{
  color:#3A6028;

}




#menu
{
  background-image:url(../images/menu.png);
  background-repeat:no-repeat;
  width:940px;
  height:69px;
  float:left;
  clear:both;
}

#content
{
  width:880px;
  height:auto;
  background-color:#FFF;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:5px;
}

#menu a:hover{
  color:#BEE399;
}

#content p
{

}


html, body {
  text-align: center;
}
p {text-align: left;}

.container {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #F7F7F7;
}

.container input[type="text"] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

.container input[type="text"]:focus {
  box-shadow: 0 0 5px #43D1AF;
  padding: 3%;
  border: 1px solid #43D1AF;
}